body{
font-family: "Poppins", sans-serif;
}
.weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 8px;
  background-color: #d9edfd;
}
h1
{
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
.mon,
.wed,
.fri {
  background-color: grey;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
:hover.mon,
:hover.wed,
:hover.fri {
  color: antiquewhite;
  transform: translateY(-20px);
  transition: all 0.2s ease-in-out;
}
.tue,
.thurs,
.sat {
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
:hover.tue,
:hover.thurs,
:hover.sat {
  color: antiquewhite;
}

#Cel {
  display: none;
}
#temp{
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
#unit {
  position: relative;
  top: -34px;
}
#sky{
  font-size: 20px;
}
#sky::first-letter{
  text-transform: uppercase;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.weather-temperature img {
  margin-right: 5px;
  position: relative;
  bottom: 15px;
  height: 64px;
  width: 64px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}